img{
    height: 41px;
    width: 41px;
    border-radius: 50%;
}

main > div{
    padding: var(--gap-6) 0;
}

.card-info{
    align-items: flex-start;
}

.postText{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1rem;
    max-height: 2rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
